<html>
<head>
    <title>Lorin's Intro</title>
    <style>
        div div {
            float: left;
            border: 3px solid white;
            width: 100px;
            height: 100px;
            background-color: #232323;
            color: white;
            font-size:15pt;
    }

        .row {
            clear: both;
    }

    </style>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="script.js"></script>
</head>

<body x-ng-app="" x-ng-controller="TicTacController">
    <div class="row" x-ng-repeat="r in rows track by $index">
        <div x-ng-repeat="col in r track by $index" x-ng-click="makeMove($parent.$index, $index)">
            {{ col }}
        </div>
    </div>





</body>
</html>












