body {
    background-color: #232323;
}

header {
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: helvetica;
}

span {
    font-family: cursive;
    font-size: 16px;
}

.container {
    width: 324px;
    margin: 0 auto;
}

.columns {
    display: inline-block;
}

.cell {
    background-color: #666666;
    height:100px;
    width:100px;
    border:4px solid white;
    font-size: 85px;
    color: white;
    verticle-align: center;

}









